<% include header %>

<h1>Create Portfolio</h1>
</br>
<form action="/createPortfolio" method="post">
  Link:<br>
  <input type="link" name="link" value="">
  <br><br>
  <button type="submit" name="Submit" value="Submit">Submit</button>
</form>

<% include footer %>
