<% include headerUser %>

</br>

<h1 style="text-align: center;">Welcome <%= username %></h1>
<div style="text-align:center">
  <p>You do not have a portfolio yet</p>
  <br/>
  <a href='createPortfolio.ejs'>Create Portfolio</a>
</div>
<% include footer %>
